function fork-sync-upstream() {
  if grep -qw upstream < <(git remote); then
    if grep -q "\* main" < <(git branch); then
      git fetch upstream && git pull upstream main && git push origin main
    else
      echo "You are not on the 'main' branch"
    fi
  fi
}
function get-function() {
  sed -rn "/^function (.*)${1}(.*)/,/^\}$/p" ${HOME}/.functions
}
function ttfbcheck() {
  echo " Date               | Connect  |   TTFB   |   Total  | HTTP-Code | Avg. TTFB"
  INT=1
  DATUM=$(date "+%d.%m.%Y %H:%M:%S")
  VALUES=$(curl -o /dev/null -H 'Cache-Control: no-cache' -s -w "%{time_connect} | %{time_starttransfer} | %{time_total} | %{http_code}      " $1)
  TTFB1=$(echo "$VALUES" | tr "," "." | awk '{print $3}')
  echo -e "$DATUM | $VALUES | $TTFB1"
  while true; do
    DATUM=$(date "+%d.%m.%Y %H:%M:%S")
    VALUES=$(curl -o /dev/null -H 'Cache-Control: no-cache' -s -w "%{time_connect} | %{time_starttransfer} | %{time_total} | %{http_code}      " $1)
    TTFB2=$(echo "$VALUES" | tr "," "." | awk '{print $3}')
    TTFB1=$(echo "scale=6 ; $TTFB1 + $TTFB2" | bc)
    TTFBA=$(echo "scale=6 ; $TTFB1 / $INT" | bc)
    echo -e "$DATUM | $VALUES | $TTFBA"
    ((INT++))
    sleep 1
  done
}
function cheat() {
  curl -sS "https://cheat.sh/${1}"
}
function gcx() {
  if [[ -d ".git" ]]; then
    echo -n "git config user.name Xenion1987... "
    if git config user.name Xenion1987 &>/dev/null; then echo "done"; else echo "error"; fi
    echo -n "git config user.email 39803750+Xenion1987@users.noreply.github.com... "
    if git config user.email 39803750+Xenion1987@users.noreply.github.com &>/dev/null; then echo "done"; else echo "error"; fi
  else
    echo "Not in a Git Repository!"
    return 1
  fi

}
#########################################################
# tmux functions
#########################################################
## Fix SSH agent forwarding. Best added to .bashrc/.zshrc
function fixssh() {
  if [[ -n ${TMUX} ]]; then
    eval "$(grep '^SSH_' < <(tmux show-env -s))"
  else
    return 1
  fi
}
# Make short hostname only if its not an IP address
function __tm_get_hostname() {
  local HOST
  HOST="$(echo "$*" | rev | cut -d ' ' -f 1 | rev)"
  if echo "${HOST}" | grep -E "^([0-9]+\.){3}[0-9]+" -q; then
    echo "${HOST}"
  else
    echo "${HOST}" | cut -d . -f 1
  fi
}
function __tm_get_current_window() {
  tmux list-windows | awk -F : '/\(active\)$/{print $1}'
}
# Rename window according to __tm_get_hostname and then restore it after the command
function __tm_command() {
  case "$(ps -p "$(ps -p $$ -o ppid= | tr -d '[[:space:]]')" -o comm= | cut -d : -f 1)" in
  tmux*)
    __tm_window=$(__tm_get_current_window)
    local my_shell=${SHELL##*/}
    local my_return
    case ${my_shell} in
    zsh)
      my_return="EXIT"
      # shellcheck disable=SC2064 # Use single quotes, otherwise this expands now rather than when signalled
      trap "tmux set-window-option -t $__tm_window automatic-rename on 1>/dev/null; return $?" ${my_return}
      ;;
    *)
      my_return="RETURN"
      # shellcheck disable=SC2064 # Use single quotes, otherwise this expands now rather than when signalled
      trap "tmux set-window-option -t $__tm_window automatic-rename on 1>/dev/null" ${my_return}
      ;;
    esac
    tmux rename-window "$(__tm_get_hostname "$*")"
    ;;
  esac
  command "$@"
}
function ssh() {
  __tm_command ssh "$@"
}
#########################################################
# tmux wrapper
#########################################################
function tmux_auto_attach() {
  if [[ -z ${TMUX} ]]; then
    if grep -wq "^main" < <(tmux ls); then
      tmux attach -t "main"
    else
      tmux new -s "main"
    fi
  fi
}
# List tmux sessions
function tml() {
  tmux ls
}
# Create new tmux session
function tmn() {
  if [[ -n $1 ]]; then
    tmux new -s "${1}"
  else
    tmux new -s "main"
  fi
}
# Interactivly attach to a existing tmux session
function tma() {
  local MY_SHELL
  MY_SHELL=${SHELL##*/}
  TMUX_SESSIONS=$(tmux ls 2>/dev/null | awk -F: '{print $1}')
  if [[ -n "${1}" ]]; then
    tmux attach -t "${1}"
  else
    if [[ $(echo "${TMUX_SESSIONS}" | grep -cEv "^$") -gt 1 ]]; then
      i=1
      while read -r TMUX_SESSION; do
        echo "${i}: ${TMUX_SESSION}"
        ((++i))
      done <<<"${TMUX_SESSIONS}"
      echo -n "Choose session to join: "
      if [[ "${MY_SHELL}" == "zsh" ]]; then
        read -r -k1 CHOICE
      else
        read -r -n1 CHOICE
      fi
      if [[ "${CHOICE}" =~ [0-9]+ ]]; then
        tmux attach -t "$(tmux ls | awk -F':' '{print $1}' | sed -n "${CHOICE}p")"
        echo
      else
        echo " --> Wrong choice - cancelled"
        return 1
      fi
    else
      tmux attach
    fi
  fi
}
# Interactivly kill a tmux session or kill all tmux sessions
function tmk() {
  local MY_SHELL
  MY_SHELL=${SHELL##*/}
  TMUX_SESSIONS=$(tmux ls 2>/dev/null | awk -F: '{print $1}')
  if [[ -n "${1}" ]]; then
      if [[ "${1}" == "all" ]]; then
        tmux kill-server && echo "All tmux sessions killed"
      else
        tmux kill-session -t "${1}"
      fi
  else
    if [[ $(echo "${TMUX_SESSIONS}" | grep -cEv "^$") -gt 0 ]]; then
      i=1
      while read -r TMUX_SESSION; do
        echo "${i}: ${TMUX_SESSION}"
        ((++i))
      done <<<"${TMUX_SESSIONS}"
      echo -n "Choose session to kill: "
      if [[ "${MY_SHELL}" == "zsh" ]]; then
        read -r -k1 CHOICE
      else
        read -r -n1 CHOICE
      fi
      if [[ "${CHOICE}" =~ [0-9]+ ]]; then
        tmux kill-session -t "$(tmux ls | awk -F':' '{print $1}' | sed -n "${CHOICE}p")"
        echo
      else
        echo " --> Wrong choice - cancelled"
        return 1
      fi
    fi
  fi
}
